# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Plugin/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
TowerDefenceArena/Assembly-CSharp-Editor.csproj
TowerDefenceArena/TowerDefenceArena.sln
TowerDefenceArena/TowerDefenceArena.CSharp.Editor.csproj
TowerDefenceArena/TowerDefenceArena.CSharp.csproj
TowerDefenceArena/Assets/Tests/UnityTestTools/UnitTesting/Editor/NSubstitute.meta~7a96a44c4297b97cd8e9922c98ff4040c4bce692.meta
TowerDefenceArena/Assets/Tests/UnityTestTools/UnitTesting/Editor/NSubstitute/NSubstitute.dll.meta
TowerDefenceArena/Assets/Tests/UnityTestTools/UnitTesting/Editor/NUnit/Libs.meta~7a96a44c4297b97cd8e9922c98ff4040c4bce692.meta
TowerDefenceArena/Assets/Tests/UnityTestTools/UnitTesting/Editor/NUnit/Libs/Mono.Cecil.Mdb.dll.meta
TowerDefenceArena/Assets/Tests/UnityTestTools/UnitTesting/Editor/NUnit/Libs/Mono.Cecil.dll.meta
TowerDefenceArena/Assets/Tests/UnityTestTools/UnitTesting/Editor/NUnit/Libs/nunit.core.dll.meta
TowerDefenceArena/Assets/Tests/UnityTestTools/UnitTesting/Editor/NUnit/Libs/nunit.core.interfaces.dll.meta
TowerDefenceArena/Assets/Tests/UnityTestTools/UnitTesting/Editor/NUnit/Libs/nunit.framework.dll.meta
TowerDefenceArena/Assets/UnityTestTools/UnitTesting/Editor/NSubstitute.meta
TowerDefenceArena/Assets/UnityTestTools/UnitTesting/Editor/NUnit/Libs.meta
*.meta
